<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="border-style: dotted dashed solid double; padding: 5px;">
        <h3>Esto es un gran menu</h3>
        <ul>
            <li>primero</li>
            <li>segundo</li>
            <li>tercero</li>
        </ul>
    </div>
    
</body>
</html>